<html>
  <head>
    <title>Django WishList</title>
  </head>
  <body>
    <header>
      <h1><a href="/Home">Django WishList</a></h1>
        <div class="nav-right">
          <a href="{% url 'wish_new' %}">+ New wish</a>
        </div>
    </header>
    <div class="container">

    </header>

{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>